---
layout: archive
---


<h3 class="my__subtitle">Introduce</h3>
<div class="my__contents">
  객체지향을 좋아하며 더 나은 sw를 만들기 위해 끊임없이 고민하는 개발자 최재호 입니다.<br><br>
주로 java spring, golang echo, python flask를 사용한 백엔드 애플리케이션을 개발해왔으며, <br>
vue를 사용한 웹 프론트엔드, wpf를 사용한 데스탑앱 클라이언트 개발을 한 경험이 있습니다.<br><br>
데브옵스관련으로는 kubernetes, docker, cicd(jenkins, groovy), kubernetes operator, prometheus, grafana, sentry) 등의 솔루션을 사용한 경험이 있습니다.<br><br>

확장하기 좋은, 변경에 유연한, 유지보수 하기 좋은 sw를 만드는데 관심이 많으며 공부한 내용은 개인 블로그에 기록하고 있습니다.
</div>
<h3 class="my__subtitle">Career & Project</h3>

<P>test</P>

<h3 class="my__subtitle">Projects</h3>

<P>test</P>

<h3 class="my__subtitle">Skill</h3>

<P>test</P>

<h3 class="my__subtitle">Goals</h3>

<div class="my__contents">
  확장해 나가고 싶습니다. <br>
  개발과 데브옵스 문화에 관심이 많으며 기존의 스킬셋을 바탕으로 스스로를 확장해 나가는 것을 좋아합니다.
  데브옵스 툴과 프로세스를 이해하여 개발뿐 아니라, 배포 운영관련 이슈를 함께 해결할 수 있는 사람이 되고 싶습니다.
  <br>
  <br>
  함께를 지향합니다. <br>
  함께 성장해 나가는걸 좋아하며, 더 나아가 함께 일하고 싶은 개발자가 되고싶습니다
  개발실력, 업무능력뿐 아니라 소프트한 인적 스킬과 커뮤니케이션 역량을 갖춰,
  함께 일하고 싶은 개발자가 되고 싶습니다
  <br>
  <br>
  이해하는 개발자가 되고싶습니다. <br>
  다양한 플랫폼과 툴이 어떻게 상호 연계해 작동할수 있는지 이해하고
  개발의 이해뿐 아니라, 회사의 비즈니스를 이해하고, 접목시켜 더 나은 아키텍쳐를 만드는 개발자가 되고 싶습니다.


</div>
<!-- {{ content }} -->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->


<!-- {% include paginator.html %} -->
